@import "color.css";
@import "size.css";
@import "header.css";
@import "footer.css";
@import "main.css";

html,body{
  margin:0;
  padding:0;
}

/* body{
  display:flex;
  flex-direction:column;
} */
body{
  overflow-y:scroll;
}

*, *:before, *:after {
  -webkit-box-sizing  : border-box;
     -moz-box-sizing  : border-box;
       -o-box-sizing  : border-box;
      -ms-box-sizing  : border-box;
          box-sizing  : border-box;
  font-size:14px;
}
.spacer-1{
  height:1px;
}
