.modal-contents{
  position:absolute;
  background-color:white;
  width:auto;
  height:auto;
  z-index:100;
}

.modal-contents ul{
  position:absolute;
  border:1px solid black;
  box-shadow:4px 4px 10px rgba(0,0,0,0.5);
  overflow-y:auto;
  padding:0;
  top:0;
  background-color:white;
}
.modal-contents[data-pos='top'] ul{
  top:auto;
  bottom:0;
}
.modal-contents ul li{
  padding:5px 10px;
  cursor:pointer;
}
.modal-contents ul > li + *{
  border-top:1px solid black;
}
.modal-contents ul li:hover{
  background-color:#FEE;
}
