@media (orientation:landscape){
  .book .page > *{
    width:100%;
    height:100%;
    object-fit:contain;
  }

  .book .page[data-count="2"] > *{
    width:50%;
  }

  .book .page{
    flex-direction:row-reverse;
  }
}