@media (orientation:portrait){
  main[rel="book"] section.book-list{
    display:flex;
    gap:20px;
    width:100%;
    padding:5px 0;
    overflow-x:scroll;
  }

  .book-list{
    background-color:white;
    position:absolute;
    left:0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    scroll-behavior:smooth;
    transition-property:transform;
    transition-duration:0.3s;
  }

  /* header-menu */
  .book-list{
    transform:translateY(-100%);
  }
  /* #pages:target, */
  .book-list[data-status="active"]{
    transform: translateY(-50%);
    top: 50%;
  }

  /* Group */
  .book-list .group{
    display:flex;
    gap:20px;
    flex-direction:row;
    border:0px solid transparent;
  }
  .book-list .group .page{
    display:flex;
    flex-direction:column;
    cursor:pointer;
  }
  .book-list .page:hover{
    /* border-color:red; */
  }

  /* Page-num */
  .book-list{
    counter-reset : num 0;
  }
  .book-list .page::before{
    counter-increment: num 1;
    content: counter(num);
    display:block;
    margin:0 0 5px 0;
    padding:0 3px;
    background-color:black;
    color:white;
    font-size:0.7em;
    text-align:center;
    border:4px solid transparent;
  }

  /* Page-Image */
  .book-list .img,
  .book-list img{
    height:100px;
    object-fit:contain;
    display:inline-block;
    margin:0px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
  }
  .book-list .group .page[data-status="active"]::before{
    background-color:red;
  }

  /* Direction */
  #direction:not(:checked) ~ main .book-list,
  #direction:not(:checked) ~ main .book-list .group{
    flex-direction:row-reverse;
  }

  /* Carousel */
  .book-list{
    scroll-snap-type: x mandatory;
  }
  .book-list .page{
    scroll-snap-align: center;
  }
}
