@charset "UTF-8";
@import "header.css";
@import "footer.css";
@import "select.css";
@import "book_landscape.css";
@import "book_portrait.css";
@import "list_landscape.css";
@import "list_portrait.css";
@import "control.css";

:root{
  --size-footer : var(--size-header);
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
}

main{
  /* height:100%; */
  height:calc(100vh - var(--size-header)  - var(--size-footer));
  position:relative;
}
main > section{
  display:none;
}
