:root{
  --size-direction-w: 60px;
  --size-direction-h: 30px;
  --size-direction-point: 25px;
  --size-direction-margin: 3px;
  --size-raund : 5px;
}
label.direction{
  width:var(--size-direction-w);
  height:var(--size-direction-h);
  background-color:white;
  border-radius:var(--size-raund);
  padding:0;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:relative;
  cursor:pointer;
  border:2px solid black;
  overflow:hidden;
}
label.direction .left,
label.direction .right{
  width:50%;
  height:100%;
  margin:5px 2px;
  background-color:black;
  clip-path:polygon(95% 40%, 50% 40%, 50% 10%, 5% 50%, 50% 90%, 50% 60%, 95% 60%);
}
label.direction .right{
  transform:scale(-1,1);
}
label.direction::before{
  content:"";
  display:block;
  width:50%;
  height:100%;
  background-color:white;
  position:absolute;
  top:0;
  left:50%;
  mix-blend-mode:difference;
  z-index:1;
  transition-property:left;
  transition-duration:0.2s;
}
#direction:not(:checked) ~ .setting .direction::before{
  left:0%;
}