@import "pages.css";
@import "control.css";
@import "popup.css";
@import "setting.css";
@import "direction.css";
@import "loading.css";

body{
  overflow:hidden;
}

main{
  padding:20px;
}

h1{
  font-size:2.0em;
}
